<p>employee-registration works!</p>

<label>name:</label>
<input type="text"[(ngModel)]="name">
<br>
<label>age:</label>
<input type="number"[(ngModel)]="age">
<br>
<label>company:</label>
<input type="text"[(ngModel)]="company">
<br>
<label>package:</label>
<input type="number" [(ngModel)]="package">
<br>
<button (click)="register()">register</button>

<table class= "table table-dark">
    <table  border="1">

    </table>
    <thead>
        <tr>
            <th>s.no</th>
            <th>Name</th>
            <th>age</th>
            <th>company</th>
            <th>package</th>
                
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employee ;let i=index"[ngClass]="{'yellow':employee.package}">

            <td>{{ i+1 }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.age| age }}</td>
            

            <td
            [ngStyle]="{'color':employee.package >=10 ?'green':'red'}"
            [ngClass]="{'yellow':employee.package >=10,'grey':employee.package < 10 }"
                >{{employee.package}}
            </td>
            <td>
                <button class="btn btn-danger"(click)="delete(i)">delete</button>
            </td>
        </tr>
    </tbody>
</table>
