<div class="parent">
    <div class="left">
        <h6 routerLink="interpolation">interpolation</h6>
        
        <h6 routerLink="rectangle">rectangle</h6>
        <h6 routerLink="event-binding">event-binding></h6>
        <h6 routerLink ="two-way-binding">two-way-binding</h6>
        <h6 routerLink="calculator">calculator</h6>

        <h6 routerLink="event-registration">event-registration</h6>
        <h6 routerLink="square">square</h6>
        <h6 routerLink="power">cube</h6>
        <h6 routerLink="employee-registration">employee-registration</h6>
        <h6 routerLink="pipes">pipes</h6>
        <h6 routerLink="cars">cars</h6>
        <h6 routerLink="cart">cart</h6>
        <h6 routerLink="stars">stars</h6>
        <h6 routerLink="gpay">gpay</h6>
        <h6 routerLink="bank">Bank</h6>
        <h6 routerLink="vehicle">vehicle</h6>
        <h6 routerLink="typicode">typicode</h6>
        <h6 routerLink="mail">mails</h6>
        <h6 routerLink="flipkart">flipkart</h6>
        <h6 routerLink="create-account">create-Account</h6>
        <h6 routerLink="create-user">create-user</h6>
        <button (click)="logout()">logout</button>


    

    </div>
    <div class="right">

         <router-outlet></router-outlet>
    </div>
</div>

